#rowTwo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(241, 24, 133);
}
.hover:hover {
  transition: transform 0.2s ease-in-out;
  background: grey;
  z-index: 1;
}